{% block nosto_integration_page_tagging %}
    {% set product = page.product %}
    {% set nostoProduct = nosto_product(product, context) %}

    {% if product and nostoProduct %}
        <div class="nosto_product" style="display:none">
            {% if product.isCloseout == false and nostoProduct.availability == "OutOfStock"  %}
                {% set availability = "InStock" %}
            {% else %}
                {% set availability = nostoProduct.availability %}
            {% endif %}

            {% if product.parentId and nostoProduct.variationStatus == 'singleProduct' %}

                {% set parentId = product.parentId %}
                {% set nostoParentProduct = nosto_product_by_id(parentId, context) %}

                <span class="product_id">{{ parentId }}</span>
                <span class="name">{{ nostoParentProduct.name }}</span>
                <span class="url">{{ seoUrl('frontend.detail.page', {'productId': parentId}) }}</span>
                <span class="image_url">{{ nostoParentProduct.cover.media.url }}</span>
                <span class="availability">{{ availability }}</span>
                <span class="price">{{ nostoParentProduct.calculatedPrice.unitPrice }}</span>
                <span class="price_currency_code">{{ nostoProduct.priceCurrencyCode }}</span>

                <span class="nosto_sku">
                      <span class="id">{{ nostoProduct.productId }}</span>
                      <span class="name">{{ nostoProduct.name }}</span>
                      <span class="price">{{ nostoProduct.price }}</span>
                      <span class="list_price">{{ nostoProduct.listPrice }}</span>
                      <span class="inventory_level">{{ nostoProduct.inventoryLevel }}</span>
                      <span class="url">{{ nostoProduct.url }}</span>
                      <span class="image_url">{{ nostoProduct.imageUrl }}</span>
                      <span class="availability">{{ availability }}</span>
                        {% if nostoProduct.customFields %}
                            <span class="custom_fields">
                            {% for key, value in nostoProduct.customFields %}
                                <span class="{{ key }}">{{ value }}</span>
                            {% endfor %}
                            </span>
                        {% endif %}
                  </span>
            {% else %}
                <span class="product_id">{{ nostoProduct.productId }}</span>
                <span class="name">{{ nostoProduct.name }}</span>
                <span class="url">{{ nostoProduct.url }}</span>
                <span class="image_url">{{ nostoProduct.imageUrl }}</span>
                <span class="availability">{{ availability }}</span>
                <span class="price">{{ nostoProduct.price }}</span>
                <span class="price_currency_code">{{ nostoProduct.priceCurrencyCode }}</span>
                {% if nostoProduct.customFields %}
                    <span class="custom_fields">
                        {% for key, value in nostoProduct.customFields %}
                            <span class="{{ key }}">{{ value }}</span>
                        {% endfor %}
                    </span>
                {% endif %}
            {% endif %}

            <span class="categories">
                {% if nostoProduct.categories %}
                    {% for category in nostoProduct.categories %}
                        <span class="category">{{ category }}</span>
                    {% endfor %}
                {% endif %}
            </span>

            <span class="category_ids">
                {% if nostoProduct.categoryIds %}
                    {% for categoryId in nostoProduct.categoryIds %}
                        <span class="category_id">{{ categoryId }}</span>
                    {% endfor %}
                {% endif %}
            </span>

            <span class="parent_category_ids">
                {% if nostoProduct.parentCategoryIds %}
                    {% for parentCategoryId in nostoProduct.parentCategoryIds %}
                        <span class="parent_category_id">{{ parentCategoryId }}</span>
                    {% endfor %}
                {% endif %}
            </span>

            {% if nostoProduct.brand %}
                <span class="brand">{{ nostoProduct.brand }}</span>
            {% endif %}

            {% if nostoProduct.description %}
                <span class="description">{{ nostoProduct.description }}</span>
            {% endif %}

            {% if nostoProduct.googleCategory %}
                <span class="google_category">{{ nostoProduct.googleCategory }}</span>
            {% endif %}

            {% if nostoProduct.listPrice %}
                <span class="list_price">{{ nostoProduct.listPrice }}</span>
            {% endif %}

            {% if nostoProduct.tag1 is not empty %}
                <span class="tag1">
                    {% if nostoProduct.tag1|length > 1 %}
                        [{{ nostoProduct.tag1|join(', ') }}]
                    {% else %}
                        {{ nostoProduct.tag1[0] }}
                    {% endif %}
                </span>
            {% endif %}
            {% if nostoProduct.tag2 is not empty %}
                <span class="tag2">
                    {% if nostoProduct.tag2|length > 1 %}
                        [{{ nostoProduct.tag2|join(', ') }}]
                    {% else %}
                        {{ nostoProduct.tag2[0] }}
                    {% endif %}
                </span>
            {% endif %}
            {% if nostoProduct.tag3 is not empty %}
                <span class="tag3">
                    {% if nostoProduct.tag3|length > 1 %}
                        [{{ nostoProduct.tag3|join(', ') }}]
                    {% else %}
                        {{ nostoProduct.tag3[0] }}
                    {% endif %}
                </span>
            {% endif %}

            {% if nostoProduct.ratingValue %}
                <span class="rating_value">{{ nostoProduct.ratingValue }}</span>
            {% endif %}

            {% if nostoProduct.reviewCount %}
                <span class="review_count">{{ nostoProduct.reviewCount }}</span>
            {% endif %}

            {% if nostoProduct.alternateImageUrls %}
                {% for url in nostoProduct.alternateImageUrls %}
                    <span class="alternate_image_url">{{ url }}</span>
                {% endfor %}
            {% endif %}

        </div>
    {% endif %}

{% endblock %}
